APP_NAME=video-dedup-system
APP_ENV=dev
APP_PORT=18080

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=video_dedup
MYSQL_USER=root
MYSQL_PASSWORD=root

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

API_KEY=change-me

SEARCH_CACHE_TTL_SECONDS=300
CHECK_CACHE_TTL_SECONDS=600
STATS_CACHE_TTL_SECONDS=3600

SCREENSHOT_DIR=./data/screenshots
SCREENSHOT_QUALITY=2
SCREENSHOT_BATCH_SIZE=20
SCREENSHOT_INTERVAL_MINUTES=5
FFMPEG_BIN=ffmpeg

IDM_EXE=C:\Program Files (x86)\Internet Download Manager\IDMan.exe
DOWNLOAD_ROOT=D:/Downloads/Movies
DOWNLOAD_SUFFIX=
